*,
*:before,
*:after{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family:'Vidaloka', serif;
	font-size: 15px;
	color:#E7E6E6;
	line-height: 1.6;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
.subff{
	font-family: 'Gotu', sans-serif;
}
.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	
}
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("intro.jpg") center no-repeat;
	-webkit-background-size:cover;
	background-size: cover;
}
.intro__title{
	font-size: 150px;
	text-align: center;
	line-height: 1;
}
.intro__inner{
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	color: white;
}
.header{
	padding-left: 150px;
	padding-right: 150px;
	width: 100%;
	position: absolute;
	padding-top: 5%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__inner:after{
	content: "";
	display: block;
	width: 80%;
	height: 1px;
	background-color: grey;
	position: absolute;
	top: 100%;
	left: auto;
	z-index: 1;
}
.nav{
	font-size: 13px;
	text-transform: uppercase;
}
.nav__link{
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	color: white;
	text-decoration: none;
	transition: color .2s linear;
	position: relative;
}
.nav__link:after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #FEFE08;
	position: absolute;
	top: 187%;
	left: 0;
	z-index: 10;
	opacity: 0;
	transition: opacity .2s linear;
}
.nav__link:hover{
	color: #FEFE08
}
.nav__link:hover:after,
.nav__link.active:after{
	opacity: 1;
}
.nav__link.active{
	color: #FEFE08
}
.section {
	padding: 110px 0;
}
.section__header {
	width: 100%;
	max-width: 950px;
	margin: 0 auto 120px;
	text-align: center;
}
.section__title {
	color: #333333;
	font-size: 30px;
}
.yellow_underline {
	color: #ffeb3b;
	text-decoration: underline;
	margin: 0;
	padding: 0;
}
.form-search {  /* форма с boxtuffs.com */
  position: relative;
  display: inline-block;
  
  border-radius: 3px;
  
  
}
.form-search:before {  /* рамка вокруг формы */
  position: absolute;
  content: "";
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  border-radius: 5px;
  
}
.form-search:focus-within {  /* изменение формы при фокусе */
  box-shadow: inset 0 1px 1px #46575b, 0 1px 0 #FFF;
  background: white;
}
.form-search input[type="search"] {  /* поле поиска */
  width: 60px;
  height: 32px;
  line-height: 32px;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0 0 0 6px;
  background: transparent;
  font: 13px Helvetica, Arial, sans-serif;
  color: #6E7074;
  text-shadow: 0 1px 0 #FFF;
  transition: all .2s ease-out;
}
.form-search:focus-within input[type="search"],  /* изменение поля поиска при фокусе */
.form-search input[type="search"]:focus {
  width: 160px;
  color: #25464D;
}
.form-search input[type="image"] {  /* картинка лупы */
  padding: 0;
  vertical-align: bottom;
}
.footer {
	padding-top: 40px;
	background: url(footer.jpg) no-repeat center;
	display: block;
	
	text-align: center;
	width: 100%;
	height: 35vh;
	-webkit-background-size:cover;
	background-size: cover;
}
.q2 {
	margin: 20px auto;
}

